workflow/beyondpresence-hr-agent.json
{
  "name": "BeyondPresence Agent HR Interview System",
  "nodes": [
    {
      "parameters": {
        "content": "## 📝 Step 1: Add Your Job Description\n\n**Simply paste your complete job posting in the yellow box below**\n\nInclude:\n- Job title\n- Company name\n- Responsibilities\n- Requirements\n- Any other relevant details\n\nThe AI will understand everything from your text!",
        "height": 520,
        "width": 400,
        "color": 5
      },
      "id": "f934aa49-faee-4413-b1b9-6a4c2b9f45b2",
      "name": "Job Description Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1240,
        -680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// ========== PASTE YOUR JOB DESCRIPTION HERE ==========\n// Simply paste your entire job posting between the quotes below\n// Include everything: job title, company name, requirements, etc.\n\nconst jobDescription = `\nProduct Marketing Manager – BeyondPresence.ai\n\nBeyondPresence.ai is redefining human-computer interaction with hyper-realistic, emotionally intelligent digital avatars and Conversational Video Agents that deliver human-like, real-time conversations at scale. Our proprietary AI technology powers next-generation customer support, sales, HR, and training experiences for leading brands worldwide. We are seeking a dynamic Product Marketing Manager to drive the go-to-market strategy and accelerate adoption of our cutting-edge platform.\n\nResponsibilities\nDevelop and execute go-to-market strategies for new and existing BeyondPresence.ai products, with a focus on driving demand, adoption, and customer engagement.\n\nCraft compelling product positioning and messaging that differentiates our conversational avatars and platform in the market.\n\nConduct market, competitor, and user research to identify trends, customer needs, and growth opportunities.\n\nBuild and maintain detailed buyer personas to guide targeted marketing and sales initiatives.\n\nCollaborate closely with product, engineering, and sales teams to align on product vision, roadmap, and feature launches.\n\nLead cross-functional product launches, including launch planning, sales enablement, and campaign execution.\n\nCreate and manage marketing collateral, demos, website content, case studies, and sales tools that clearly communicate product value.\n\nGather and analyze customer feedback and campaign performance data to optimize messaging and marketing programs.\n\nSupport the sales team with training, product presentations, and competitive insights to drive conversions and upsells.\n\nRepresent BeyondPresence.ai at industry events, webinars, and customer meetings as a product evangelist.\n\nRequirements\n4+ years of experience in product marketing, preferably in B2B SaaS, AI, or related technology sectors.\n\nProven track record of launching and scaling innovative technology products, ideally in AI, conversational platforms, or digital avatars.\n\nDeep understanding of go-to-market strategies, product positioning, and value-based messaging.\n\nExceptional written and verbal communication skills, including copywriting and storytelling.\n\nStrong analytical skills with experience in market research, data analysis, and campaign optimization.\n\nDemonstrated ability to influence and collaborate with cross-functional teams without direct authority.\n\nExperience supporting sales teams with enablement materials and training.\n\nBachelor’s degree in marketing, business, or a related field; advanced degree a plus.\n\nPassion for emerging technologies, AI, and shaping the future of human-computer interaction.\n\nWhy BeyondPresence.ai?\nJoin a visionary, fast-growing team with deep expertise in AI, avatars, and conversational technology.\n\nShape the future of digital communication and help global brands deliver human-like experiences at scale.\n\nWork with a collaborative, mission-driven team backed by proven founders and industry leaders.\n\nCompetitive compensation, flexible work environment, and opportunities for rapid career growth.\n\nReady to help define the future of human-AI interaction? Apply now and join BeyondPresence.ai!\n`;\n\n// Don't change anything below this line\nreturn [{\n  json: {\n    jobDescription: jobDescription.trim(),\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "📝 Your Job Description",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1000,
        -320
      ],
      "id": "81fa81d2-1b16-4e15-a84c-4677bcbc4ad8"
    },
    {
      "parameters": {
        "content": "## 🚀 Step 2: Create Your Interview Agent\n\n**Click the button below to:**\n1. Create your AI interviewer\n2. Get your interview link\n\nThis only needs to be done ONCE!",
        "height": 520,
        "width": 430,
        "color": 7
      },
      "id": "3b076ed7-a31d-4ce5-af14-c79fe425ce41",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -820,
        -680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "aecf3f6e-bd63-4af5-b8f1-d18c05c1c661",
      "name": "▶️ Click to Start Setup",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1200,
        -320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Generate the interview system prompt\nconst jobDescription = $input.first().json.jobDescription;\n\nconst systemPrompt = `You are a professional HR interviewer conducting job interviews. Your goal is to assess candidates thoroughly while making them feel comfortable and valued.\n\nJob Description:\n${jobDescription}\n\nInterview Approach:\n- Start with a warm welcome and brief introduction\n- Ask about their interest in the role and company\n- Explore their relevant experience with specific examples\n- Assess technical skills and cultural fit\n- Allow time for their questions\n- Close professionally with next steps\n\nBe conversational, ask follow-up questions, and show genuine interest in their responses. If they seem nervous, help them feel at ease. Always maintain a professional yet friendly tone.`;\n\nconst welcomeMessage = `Hello! Welcome to our interview. I'm excited to learn about your background and discuss this opportunity with you. \n\nLet's start with you telling me a bit about yourself and what interests you about this position.`;\n\nreturn [{\n  json: {\n    jobDescription,\n    systemPrompt,\n    welcomeMessage,\n    agentName: `HR Interview Bot - ${new Date().toLocaleDateString()}`\n  }\n}];"
      },
      "name": "Prepare Interview Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -780,
        -320
      ],
      "id": "2ce3a3f3-05cc-49f6-b52e-4e2491848452"
    },
    {
      "parameters": {
        "systemPrompt": "={{ $json.systemPrompt }}",
        "name": "={{ $json.agentName }}",
        "greeting": "={{ $json.welcomeMessage }}",
        "requestOptions": {}
      },
      "id": "f05b2cd3-1550-4c5b-ab27-9313b46b75ef",
      "name": "Create Interview Agent",
      "type": "n8n-nodes-beyondpresence.beyondPresence",
      "position": [
        -560,
        -320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const workflowStaticData = $getWorkflowStaticData('global');\n\n\n\nconst agentId = $input.first().json.id;\nconst interviewLink = $input.first().json.call_link;\nconst jobDescription = $('Prepare Interview Agent').first().json.jobDescription;\n\nworkflowStaticData.agentId = agentId;\nworkflowStaticData.jobDescription = jobDescription;\nworkflowStaticData.interviewLink = interviewLink;\n\n\n\nreturn [{\n  json: {\n    \"Agent ID\": workflowStaticData.agentId,\n    \"Agent Name\":$('Prepare Interview Agent').first().json.agentName,\n    \"Interview Link\": interviewLink,\n    \"Job Description\": workflowStaticData.jobDescription,\n    \"System Prompt\": $('Prepare Interview Agent').first().json.systemPrompt,\n    \"Welcome Message\": $('Prepare Interview Agent').first().json.welcomeMessage\n    \n  }\n}];"
      },
      "name": "Save Agent Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        -320
      ],
      "id": "9ccd8a67-fbae-4ac8-b763-f43b1cf38a48"
    },
    {
      "parameters": {
        "content": "## ✅ Setup Complete!\n\n**Your interview link:**\n`https://bey.chat/[agent-id]`\n\n** This step will now setup our agent id and job description which is now automatically passed and used by our webhook.",
        "height": 520,
        "width": 330,
        "color": 2
      },
      "id": "25c02197-28b9-415f-8e83-1b0700fe1ae7",
      "name": "Success!",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -340,
        -680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🤖 Step 3: Automated Interview Analysis\n\n**This section runs automatically to:**\n- Receive completed interviews\n- Analyze candidate responses\n- Save results to Google Sheets\n\n**Before activating:** \nMake sure to configure the webhook URL in your BeyondPresence dashboard under Settings → Webhooks",
        "height": 540,
        "width": 390,
        "color": 6
      },
      "id": "ac2610af-10e0-42ef-83f8-5aa3ee48dbdf",
      "name": "Automated Analysis",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1240,
        -140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "beyondpresence-hr-interviews",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1200,
        300
      ],
      "id": "99af0fae-f69a-4172-8864-2e4a94347ecf",
      "name": "Receive Interview Data",
      "webhookId": "beyondpresence-hr-interviews"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Interview received and being analyzed\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -1000,
        300
      ],
      "id": "94289ea4-518a-4b37-9ece-6d1bf1d4a4a8",
      "name": "Confirm Receipt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.process }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "id": "931e1a97-c22c-48be-9728-73989cf00f41"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -520,
        280
      ],
      "id": "c0b156a3-99a4-437d-b116-e8fe94ac5ead",
      "name": "Is Our Interview?"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze this job interview and provide a hiring assessment.\n\nJob Description:\n{{ $getWorkflowStaticData('global').jobDescription }}\n\n\nCandidate: {{ $json.webhookData.call_data.userName }}\nInterview Date:  {{ $now }}\nDuration: {{ $json.webhookData.evaluation.duration_minutes }} minutes\n\nCandidate Transcript:\n{{ $json.webhookData.messages.map(m => `[${m.sent_at}] ${m.sender.toUpperCase()}: ${m.message}`).join('\\n') }}\n\nProvide a comprehensive assessment including:\n1. Overall fit score (0-100)\n2. Key strengths\n3. Any concerns or gaps\n4. Hiring recommendation\n5. Suggested next steps\n\nFormat your response as JSON:\n```json\n{\n  \"fitScore\": 85,\n  \"recommendation\": \"recommend\",\n  \"strengths\": [\"strength 1\", \"strength 2\", \"strength 3\"],\n  \"concerns\": [\"concern 1\", \"concern 2\"],\n  \"summary\": \"Brief 2-3 sentence overall assessment\",\n  \"nextSteps\": [\"suggested action 1\", \"suggested action 2\"]\n}\n```",
              "role": "system"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "09cf419c-3a1a-4c08-b27f-08c35fbd1b1a",
      "name": "Analyze Interview",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -220,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Parse AI analysis\nconst analysisText = $input.first().json.message.content;\nconst analysis = JSON.parse(analysisText.match(/```json\\n([\\s\\S]*?)\\n```/)[1]);\nconst interviewData = $input.first().json;\n\n// Format for Google Sheets\nreturn [{\n  json: {\n    \"Candidate Name\": $('Is Our Interview?').first().json.webhookData.call_data.userName,\n    \"Interview Date\":  $now,\n    \"Duration (minutes)\": $('Is Our Interview?').first().json.webhookData.evaluation.duration_minutes,\n    \"Fit Score\": analysis.fitScore,\n    \"Recommendation\": analysis.recommendation,\n    \"Strengths\": analysis.strengths.join(\"; \"),\n    \"Concerns\": analysis.concerns.join(\"; \") || \"None\",\n    \"Summary\": analysis.summary,\n    \"Next Steps\": analysis.nextSteps.join(\"; \"),\n    \"Call ID\": $('Is Our Interview?').first().json.webhookData.call_id,\n    \"Analyzed On\": $now,\n  }\n}];"
      },
      "name": "Format for Sheets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        300
      ],
      "id": "0dea6278-69e2-485f-a213-90d6a8aeb26f"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dXLpP5bRRirBsln4YIQtFgb1MiP-0yR8IDRzse5k7X0",
          "mode": "list",
          "cachedResultName": "BeyondPresence HR Interview System Template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dXLpP5bRRirBsln4YIQtFgb1MiP-0yR8IDRzse5k7X0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Interview Results",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dXLpP5bRRirBsln4YIQtFgb1MiP-0yR8IDRzse5k7X0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Candidate Name": "={{ $json['Candidate Name'] }}",
            "Interview Date": "={{ $json['Interview Date'] }}",
            "Duration (minutes)": "={{ $json['Duration (minutes)'] }}",
            "Fit Score": "={{ $json['Fit Score'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Candidate Name",
              "displayName": "Candidate Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interview Date",
              "displayName": "Interview Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duration (minutes)",
              "displayName": "Duration (minutes)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fit Score",
              "displayName": "Fit Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendation",
              "displayName": "Recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Strengths",
              "displayName": "Strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Concerns",
              "displayName": "Concerns",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Next Steps",
              "displayName": "Next Steps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Call ID",
              "displayName": "Call ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Analyzed On",
              "displayName": "Analyzed On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        640,
        280
      ],
      "id": "74a0fe09-9c5e-4181-a38b-e15404d256e3",
      "name": "Save to Google Sheets"
    },
    {
      "parameters": {
        "content": "## 📊 Google Sheets Connection\n\n**Quick Start**:\n1. Use the same document but select **'Interview Results'**  sheet this time, the template includes all required columns!\n\n**Connect your Google Sheets here →**",
        "height": 540,
        "width": 480,
        "color": 3
      },
      "id": "eebced68-6690-4a91-a165-0ec99aadd268",
      "name": "Sheet Headers",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        -140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "⚠️ **MUST DO BEFORE ACTIVATING:**\n\n1. Run Step 2 first it will automatically setup required values\n",
        "height": 100,
        "width": 500
      },
      "id": "375ff0d6-e540-46cb-a20a-baf42969cc08",
      "name": "Important!",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -820,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔍 Interview Processing & AI Assessment\n\n1. Extract Interview Data: Captures candidate responses and metadata from completed interviews\n2. AI Interview Analysis: Uses OpenAI to evaluate candidate fit against job requirements\n3. Format Assessment Results: Structures AI insights for easy review and decision-making\n\nThe AI analyzes:\n- Overall fit score (0-100)\n- Key strengths demonstrated\n- Potential concerns or skill gaps\n- Hiring recommendation level\n- Suggested next steps\n- Summary of candidate suitability\n\nThis comprehensive analysis helps HR teams make data-driven hiring decisions by providing consistent, objective assessments of each candidate's interview performance.",
        "height": 540,
        "width": 700,
        "color": 4
      },
      "id": "f3b219c1-6888-4e2d-9ea6-a65b72200770",
      "name": "Processing Steps",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -280,
        -140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Data Checks\n\n- Only pass webhooks related to our agent\n- Only pass completed calls and discard realtime messages.",
        "height": 320,
        "width": 500,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -820,
        120
      ],
      "typeVersion": 1,
      "id": "6929cd46-bfcb-435b-8e9b-7a2c1c20ccde",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const workflowStaticData = $getWorkflowStaticData('global');\nconst MY_AGENT_ID = workflowStaticData.agentId;\n\nconst jobDescription = workflowStaticData.jobDescription;\n\nconst webhookData = $input.first().json.body;\nconst receivedAgentId = webhookData.agent_id || webhookData.agentId || \n                        (webhookData.call_data && webhookData.call_data.agent_id);\n\n// Only process if it's our agent and the call ended\nif (receivedAgentId === MY_AGENT_ID && webhookData.event_type === \"call_ended\") {\n  return [{\n    json: {\n      process: true,\n      jobDescription,\n      webhookData\n    }\n  }];\n} else {\n  return [{\n    json: {\n      process: false,\n      reason: receivedAgentId !== MY_AGENT_ID ? \n        \"Interview from different agent\" : \n        \"Call not finished yet\"\n    }\n  }];\n}"
      },
      "name": "Data checks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -740,
        280
      ],
      "id": "5a62069a-d4a7-427d-ba2e-84ea9ab81954"
    },
    {
      "parameters": {
        "content": "## 📊 Google Sheets Setup\n\n**Quick Start**:\n1. Copy our template sheet:  https://docs.google.com/spreadsheets/d/1dXLpP5bRRirBsln4YIQtFgb1MiP-0yR8IDRzse5k7X0/copy\n2. Connect your account credential in the node.\n3. Update the Google Sheets node with your new document and select **'Interview Agents'**  sheet\n (if not automatically set)\n3. You will get interview link in this sheet which you can share with candidates and start interviewing\n\n**Connect your Google Sheets here →**",
        "height": 520,
        "width": 380,
        "color": 3
      },
      "id": "003bd0dc-e828-475a-aa7b-130c11cd2991",
      "name": "Sheet Headers1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        -680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dXLpP5bRRirBsln4YIQtFgb1MiP-0yR8IDRzse5k7X0",
          "mode": "list",
          "cachedResultName": "BeyondPresence HR Interview System Template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dXLpP5bRRirBsln4YIQtFgb1MiP-0yR8IDRzse5k7X0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1902016160,
          "mode": "list",
          "cachedResultName": "Interview Agents",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dXLpP5bRRirBsln4YIQtFgb1MiP-0yR8IDRzse5k7X0/edit#gid=1902016160"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Agent ID",
              "displayName": "Agent ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Agent Name",
              "displayName": "Agent Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interview Link",
              "displayName": "Interview Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Description",
              "displayName": "Job Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "System Prompt",
              "displayName": "System Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Welcome Message",
              "displayName": "Welcome Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        180,
        -320
      ],
      "id": "60847f4e-5e0d-41a6-bee1-96e6bb733fce",
      "name": "Save to Google Sheets1"
    }
  ],
  "pinData": {},
  "connections": {
    "▶️ Click to Start Setup": {
      "main": [
        [
          {
            "node": "📝 Your Job Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Your Job Description": {
      "main": [
        [
          {
            "node": "Prepare Interview Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Interview Agent": {
      "main": [
        [
          {
            "node": "Create Interview Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Interview Agent": {
      "main": [
        [
          {
            "node": "Save Agent Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Interview Data": {
      "main": [
        [
          {
            "node": "Confirm Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Receipt": {
      "main": [
        [
          {
            "node": "Data checks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Our Interview?": {
      "main": [
        [
          {
            "node": "Analyze Interview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Interview": {
      "main": [
        [
          {
            "node": "Format for Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Sheets": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Agent Info": {
      "main": [
        [
          {
            "node": "Save to Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data checks": {
      "main": [
        [
          {
            "node": "Is Our Interview?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7bc4a98e-afe5-4924-849e-a75f74bfdc69",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb3d53320c110bef9b66cf21b0da1ce60c7b6876e22315eca1be511a26fd726c"
  },
  "id": "dOaiA0eoSCdxkOv0",
  "tags": []
}